body {
  font-family: 'Raleway', sans-serif;
  color: black;
}

.logoBeer {
  margin-left: 50px;
  width: 150px;
  height: 150px;
}

.bienvenida {
  background-size: cover, contain;
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Index */
ul {
  text-align: center;
  margin-top: 3rem;
}

ul li {
  display: inline-block;
  padding: 10px 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

@media (max-width: 576px) {
  ul {
    margin-top: 0px !important;
  }
  ul li {
    padding: 10px 30%;
  }
  .logoBeer {
    margin-left: 0px !important;
    max-width: 100%;
    height: auto;
  }
  .sedes div {
    padding: 0px 30% !important;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__derechos {
    width: 100% !important;
  }
}

.logoBeer {
  margin-left: 50px;
  max-width: 100%;
  height: auto;
}

/*li :hover{
background-color: rgb(241, 176, 176);
}*/
.hipervinculo {
  color: black;
  text-decoration: none;
}

.hipervinculo:hover {
  color: #f8a7a7;
  font-size: 17px;
}

/*.principal {
width: 100%;
border: solid 2px rgb(172, 169, 169);
text-align: center;

}
.caja {
display: inline-block;
padding: 10px;
}
.sede {
/*border: solid 2px rgb(172, 169, 169);
border-radius: 20px;
box-shadow: -10px 10px 5px rgb(228, 223, 223);
}
.sede img{
border-radius: 5px;
}
.sedes{
min-width: 40%;
height: 30%;
padding-top: 20px;
padding-right: 20px;
padding-left: 20px;
border-right: solid 2px rgb(172, 169, 169);
}
.birrames {
min-width: 10%;
height: 30%;
border-radius: 5px;
}
.birrames img{
border-radius: 5px;
}
.birrames p {
font-family: 'Raleway', sans-serif;
font-size: 14px;
}
.caja .birrames{
padding-top: 20px;
padding-left: 30px;
margin-left: 10px;
}
*/
h3 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.footer {
  border-top: solid 2px #aca9a9 ack;
  margin-top: 10px;
  background-color: #f1b0b0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__derechos {
  border-right-width: 2px;
}

/*#grad{
background-image: linear-gradient(to bottom, rgb(241, 176, 176), grey);

}*/
/*Bootstap*/
/* Quienes Somos */
.cont-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: solid 3px #aca9a9;
  margin-top: 10px;
}

.cont-container img {
  border-radius: 7px;
}

/*.cont-container img{
border-radius: 7px;
}*/
.cont1 {
  width: 73%;
  margin: 10px 0px 10px 10px;
  text-align: left;
}

.cont-img {
  width: 23%;
  margin: 10px 0px 10px 10px;
}

.sub-content p {
  text-align: left;
}

.sub-content h2 {
  text-align: center;
}

/* Nuestros Productos */
.tituloProductos {
  text-align: center;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.producto {
  width: 24%;
  /*border: solid 1px black;*/
  border-radius: 20px;
  -webkit-box-shadow: -10px 10px 5px #e4dfdf;
          box-shadow: -10px 10px 5px #e4dfdf;
  text-align: center;
  padding: 10px 0px;
  margin-top: 10px;
}

.producto img {
  border-radius: 7px;
}

.producto:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.detalle {
  display: inline-block;
}

/* Donde Estamos*/
.tituloSedes {
  text-align: center;
}

.cd {
  border-top: solid 1px #aca9a9;
  border-bottom: solid 1px #aca9a9;
}

.imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.imgs img {
  border-radius: 7px;
  /*width: 20%;
height: 150px;*/
  text-align: center;
  margin-top: 10px;
  padding: 1px;
}

.datos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.datos {
  text-align: center;
}

/*Contacto*/
.contacto {
  text-align: center;
}


.visitanosRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.visitanosRedes a {
  margin: 0px 15px;
}

.visitanosRedes a img {
  border-radius: 15px;
}

/*.redes {
display: flex; 
flex-direction: row; 
justify-content: center;
width: 40px;
}*/
.footer__redes .footer__link {
  margin: 0px 7px;
}

.footer__redes .footer__link .footer__img {
  border-radius: 5px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.suscribe a {
  background-color: white;
  text-decoration: none;
  border-radius: 5px;
  color: black;
}

.suscribe:hover {
  background-color: black;
  color: white;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1, h2, h3 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

p {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

img {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  max-width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */